# MATH 189 Homework 3

In [14]:
import pandas as pd
import numpy as np
from scipy import stats

# Import Data
#water =

## PROBLEM 1

1 . Suppose we consider the zinc concentration in bottom water
and in surface water as two samples. Denote $\mu_1$ and $\mu_2$ the
underlying population means of the two samples. Test the null
and alternative hypotheses: 
$$H_{0}: \mu_1 = \mu_2\\
H_{1}: \mu_1 \neq \mu_2$$

In [ ]:
d = water.bottom - water.surface
t, p = stats.ttest_1samp(d, 0)
alpha = 0.05
if p < alpha:
    print('We reject the null hypothesis, the sample means are not equal.')
else:
    print('There is not enough evidence to reject the null hypothesis.')

2 . The two-sample test depends on the following four
assumptions.

1. The data from group $i$ has a common mean $\mu_i$
2. Homoskedasticity: The data from all groups have common
variance $\sigma^2$
3. Independence: The observations are independently
sampled. 
4. Normality: The data are normally distributed.

Pick one assumption from the above four and discuss what will
happen if this assumption is violated in practice.

## PROBLEM 2

1 . Decompose the problem into multiple hypotheses testing: for
$k=1,...,9$, consider the null $H_0^{(k)}: \mu_1=\mu_2=\mu_3=\mu_4=\mu_5$ .
Calculate $\mathcal{F}$-statistics $\mathcal{F}^{(k)}(k=1,...,9)$ for these nine
hypotheses.

In [30]:
pottery = pd.read_csv('RBPottery.csv')
pottery = pottery[~(pottery.Kiln == 3)]

f_stats = []
p_vals = []

kiln1 = pottery[pottery.Kiln == 1]
kiln2 = pottery[pottery.Kiln == 2]
kiln4 = pottery[pottery.Kiln == 4]
kiln5 = pottery[pottery.Kiln == 5]

minerals = ['Al2O3', 'Fe2O3', 'MgO', 'CaO', 'Na2O', 'K2O','TiO2', 'MnO', 'BaO']

for m in minerals:
    f, p = stats.f_oneway(kiln1[m], kiln2[m], kiln4[m], kiln5[m])
    f_stats.append(f)
    p_vals.append(p)
    
results = pd.DataFrame({'F': f_stats, 'p': p_vals}, index=minerals)

In [31]:
results

                F             p
Al2O3   31.306414  8.602438e-11
Fe2O3  167.892554  2.075886e-23
MgO    103.188037  2.075129e-19
CaO     60.851910  2.448593e-15
Na2O    11.561208  1.174614e-05
K2O     20.343030  2.692834e-08
TiO2     6.351567  1.193501e-03
MnO     18.716849  7.338810e-08
BaO      0.362216  7.805878e-01

2 . At significance level $\alpha=0.05$, apply the Bonferroni
correction method to test $H_{0}: \mu_1=\mu_2=\mu_3=\mu_4=\mu_5$.
Summarize your conclusions.

In [37]:
def bonferroni(alpha, m, results):
    adj_alpha = alpha / m
    return results.assign(reject=results.p <= adj_alpha)

bonferroni(0.05, 9, results)

                F             p  reject
Al2O3   31.306414  8.602438e-11    True
Fe2O3  167.892554  2.075886e-23    True
MgO    103.188037  2.075129e-19    True
CaO     60.851910  2.448593e-15    True
Na2O    11.561208  1.174614e-05    True
K2O     20.343030  2.692834e-08    True
TiO2     6.351567  1.193501e-03    True
MnO     18.716849  7.338810e-08    True
BaO      0.362216  7.805878e-01   False

3 . Apply the Benjamini-Hochberg method to test the nine
hypotheses $H_{0}: \mu_{1k}=\mu_{2k}=\mu_{3k}=\mu_{4k}=\mu_{5k},k=1,...,9$,
simultaneously with FDR controlled at $\alpha=0.05$. Summarize
your conclusions.

In [42]:
def bh_correct(alpha, m, results):
    sorted_p = sorted(results.p)
    ranks = np.arange(1, m+1)
    
    adj_alphas = (ranks * alpha) / m
    rejected = sorted_p <= adj_alphas
    BH_thresh = max(adj_alphas[rejected == True])
    return BH_thresh, results.assign(reject=results.p <= BH_thresh)

BH_thresh, out = bh_correct(0.05, 9, results)

In [43]:
BH_thresh

0.044444444444444446

In [44]:
out

                F             p  reject
Al2O3   31.306414  8.602438e-11    True
Fe2O3  167.892554  2.075886e-23    True
MgO    103.188037  2.075129e-19    True
CaO     60.851910  2.448593e-15    True
Na2O    11.561208  1.174614e-05    True
K2O     20.343030  2.692834e-08    True
TiO2     6.351567  1.193501e-03    True
MnO     18.716849  7.338810e-08    True
BaO      0.362216  7.805878e-01   False